/*--------------------------------------------------------------
# Formulaires
--------------------------------------------------------------*/

input:focus {
    background-color: rgba(135, 191, 242, 0.1490196078431);
    transition: background-color 0.3s;
}

.screen-reader-text{
	display: none;
	width: 100%;
}
.modal-open,
.single-offre_emploi, 
.page-template-submit-oe, 
.search-form, 
.page-template-submit-articles, 
.page-template-submit-album,
.page-template-submit-video,
.em-event-admin-editor, 
.page-template-annuaire, 
.page-template-account, 
.ask-form, 
.page-template-single-chat, 
.page-template-login, 
.single-card_defi,
.single-card_dahad,
.single-card_dafhe,
.single-card_dip,
.single-card_satc,
.single-card_icb,
.single-card_ime,
.single-card_champ_goubert,
.single-card_impro_sessad,
.single-card_dps,
.single-card_dmo,
.etablissement-template{
	[type=search], [type=text], [type=password], [type=email],textarea {
		padding: 15px 30px 15px 30px!important;
		border: 0!important;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 100%;
	}
	[type=text], [type=password], [type=email], textarea{
		border-top-right-radius: 10px !important;
    	border-bottom-right-radius: 10px !important;
    	border-top-left-radius: 10px !important;
    	border-bottom-left-radius: 10px !important;
		padding: 20px 30px 20px 30px !important;
	}
	[type=search], [type=text], [type=password], [type=email], .search-form label, textarea {
		background-color: $grey4!important;
		border: none;
		width: 100%;
		&:focus, &:active{
			background-color: rgba(255, 210, 162, 0.24) !important;
		}
	}
	label{
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 88%;
	}
	input{
		outline: none;
	}
	label{
		color: $dark-grey;
	    display: block;
    	font-weight: bold;
    	margin: 0 0 3px;
    	padding: 0;
    	margin-bottom: 30px;
    	float: left;
    	width: 100%;
	}
	span.extra, p.description{
		font-style: italic;
		font-weight: 300;
		font-size: 13px;
		display: inline-block;
		text-align: justify;
		margin-bottom:10px;
	}
	span.label{
		margin-bottom: 10px;
		display: inline-block;
	}
	textarea{
		outline: none;
	}
	.wpcf7-list-item-label{
		font-weight: 400;
	}
	.acf-input-wrap{
		overflow: inherit;
		input{
			height: inherit;
		}
	}
	.acf-field .acf-label{
		overflow: auto;
	}
	.acf-fields>.acf-field{
		border-top: inherit;
		padding: 15px 12px;
	}
}
.modal-open{
	select{
		width: 100%;
	}
}
.search-form{
		display: inline-block;
		width: 100%;
	[type=submit]{
		text-indent: -9999em;
		background: url(../img/search.svg) $orange2;
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		width: 11%;
	}
}

.page-template-login{
	[type=submit]{
		width:100%;
		border-radius: 8px;
		background-color: #f8a460;
		opacity: 1;
		font-weight: 600;
	}
	label{
		margin-bottom: 10px;
	}
	.login-password, .login-username{
		margin-bottom: 35px;
	}
}

input::placeholder{
	font-style: italic;
	color: #bfbfbf;
}
input[type="text"], input[type="email"], input[type="password"], textarea{
	&:focus{
		background-color: rgba(255, 210, 162, 0.24) !important;
	}
}

/*Alert*/

.wpcf7-submit{
	padding: 10px 20px 10px 20px;
}

.wpcf7-validation-errors {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent!important;
    border-radius: .25rem;
}
span.wpcf7-not-valid-tip {
    color: #ff8383;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

/*Force bootstrap alert styles for WPCF7*/
	.wpcf7-mail-sent-ok {
		    color: #155724!important;
		    background-color: #d4edda!important;
		    border-color: #c3e6cb!important;
			position: relative!important;
		    padding: .75rem 1.25rem!important;
		    margin-bottom: 1rem!important;
		    border: 1px solid transparent!important;
		    border-radius: .25rem!important;
	}
	.wpcf7-response-output{
		margin: 0!important;
	}

.page-template-submit-oe{
	.alert{
		text-align: center;
	}
	.acf-input-wrap{
		overflow: inherit;
	}
	.acf-form-submit {
	    display: inline-block;
	    float: right;
	    margin-top: 30px;
	}
	.acf-fields>.acf-field{
		border-top: inherit;
		padding: 15px 12px;
	}
	.acf-field label{
		    margin: 0 0 10px !important;
	}
}
