/*--------------------------------------------------------------
# Template de page
--------------------------------------------------------------*/

.page-template, 
.archive.tax-ets, 
.tax-type_ress, 
.tax-format,
.tax-service {
	#content {
		a {
			color: 				$dark-orange;
		}
		h3, h3>a {
			color: 				$dark-grey;
			text-decoration: 	none;
			transition: 		color 0.3s;
			&:hover {
				color: 			$dark-orange;
			}
		}
	}
	.loadmore{
		margin-top: 25px;
	}
	.is-grey{
		float: inherit!important;
	}
}