/*--------------------------------------------------------------
# Page PV
--------------------------------------------------------------*/

.page-template-pv {
	.box-meta {
		justify-content: 		center;
		flex-direction: 		column;
	}
	.meta-txt {
		text-align: 			center!important;
		display: 				flex;
		flex-direction: 		column;
	}
}