/*--------------------------------------------------------------
# Page : Single video
--------------------------------------------------------------*/

.ct-video {
	#primary {
		width: 						100%;
	}
	.ct-container {
		border-top-left-radius: 	0;
		border-top-right-radius: 	0;
	}
	h3 {
	   	margin-top: 				40px;
	   	margin-bottom: 				20px;
	   	font-weight: 				300;
	   	font-size: 					20px;
	}
}
.single-videos{
	.ct-related {
		img {
			width: 					100%;
			height: 				auto;
			border-radius: 			5px;
		}
	}
	.ct-related.ct-container {
		padding: 					30px 60px 10px 60px;
	}
	article {
		margin-bottom: 				40px;
		.box-meta{
			margin-top: 			15px;
		}
		a {
			font-size: 				15px;
			color: 					$orange;
			&:hover{
				text-decoration: 	none;
			}
		}
	}
}

/*--------------------------------------------------------------
# Page : Liste des vidéos
--------------------------------------------------------------*/

.ct-videos {
	.ct-inner-img {
		position: 					relative;
	}
	article .ct-inner-img:before {
		content:: 					'';
		display: 					block;
		height: 					100px;
		width: 						100px;
		position: 					absolute;
	    top: 						50%;
	    left: 						50%;
	    transform: 					translate(-50%, -50%);
	    background-image:           url(../img/play-button.png);
	    background-size: 			70%;
	    background-repeat: 			no-repeat;
	    background-position: 		center;

	}
}

/*--------------------------------------------------------------
# Page : Soumettre album
--------------------------------------------------------------*/

.page-template-submit-video {
	#primary {
		width: 100%;
	}
}