/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/

.container-fluid{
	padding-left: 		200px;
	padding-right: 		200px;
	@media (max-width: 1400px) {
		padding-left: 		50px;
		padding-right: 		50px;
	}
}

@media (min-width: 1401px) {
	  .container-fluid-2{
		padding-left: 		140px;
		padding-right: 		140px;
	}
}
.alert-danger{
	margin-bottom: 		30px;
	color: 				#c10a1b;
}

.alert{
	p{
		margin-bottom: 	0;
	}
}
.row {
    margin-left: 		0;
    margin-right: 		0;
    /*Au dessus de 2500px : très grands écrans */
	@media (min-width: 2500px) {
		margin: 0 auto;
		margin-left: inherit;
		margin-right: inherit;
	}
}
.col{
	padding-right: 		0;
	padding-left: 		0;
}