/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/

$dark-orange: #f68e55;
$orange: #f8a460;
$grey: #f5f2f2;
$grey2: #f3f3f3;
$dark-grey: #818181;
$grey-menu: #a0a0a0;
$orange-hover: #f6854a;
$orange2: #f08144;
$grey3: #7c7c7c;
$grey4: #f3f0f0;
$progressbar: #4183d7;
$lowgrey: #f9f9f9;

/*--------------------------------------------------------------
# Pôles
--------------------------------------------------------------*/

$sante: #C73D5E;
$pef: #4B77BE;
$had: #9BCE7D;
$plce: #996666;